<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FM Route</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <style>
        h2.page-header {
            margin-top: 0;
        }
    </style>
</head>

<body>

    <div class="container" id="AppVue">
        <h1 class="page-header">
            FM Route<br>
            <small>Contador de acessos: <b>{{ access_count }}</b></small>
        </h1>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Menu</div>
                    <div class="list-group">
                        <a href="#/" class="list-group-item" :class="{'active': current_page === 'homepage'}">Página Inicial</a>
                        <a href="#/page-1" class="list-group-item" :class="{'active': current_page === 'page1'}">Página 1</a>
                        <a href="#/page-2/id-de-teste" class="list-group-item" :class="{'active': current_page === 'page2'}">Página 2 com parâmetro</a>
                        <a href="#/pagina-falsa" class="list-group-item"><span class="text-danger">Página Falsa</span></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-9">

                <div v-if="current_page === 'homepage'">
                    <h2 class="page-header">Página Inicial</h2>

                    <div class="panel panel-default">
                        <div class="panel-heading">Variáveis</div>
                        <div class="panel-body">
                            <pre>{{ vars }}</pre>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Código</div>
                        <div class="panel-body">
                            <pre>var route = new FMRoute();

route.before(function (vars, next, route) {
    App.access_count++;
    next();
});

route.get('/', function (vars, next) {
    App.current_page = 'homepage';
    App.vars = vars;
    next();
});

route.after(function (vars, route) {
    console.dir('Rota executada: ' + route);
});

route.run();</pre>
                        </div>
                    </div>
                </div>

                <div v-if="current_page === 'page1'">
                    <h2 class="page-header">Página 1</h2>

                    <div class="panel panel-default">
                        <div class="panel-heading">Variáveis</div>
                        <div class="panel-body">
                            <pre>{{ vars }}</pre>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Código</div>
                        <div class="panel-body">
                            <pre>var route = new FMRoute();

route.before(function (vars, next, route) {
    App.access_count++;
    next();
});

route.get('/page-1', function (vars, next) {
    App.current_page = 'page1';
    App.vars = vars;
    next();
});

route.after(function (vars, route) {
    console.dir('Rota executada: ' + route);
});

route.run();</pre>
                        </div>
                    </div>
                </div>

                <div v-if="current_page === 'page2'">
                    <h2 class="page-header">Página 2</h2>

                    <div class="panel panel-default">
                        <div class="panel-heading">Variáveis</div>
                        <div class="panel-body">
                            <pre>{{ vars }}</pre>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Código</div>
                        <div class="panel-body">
                            <pre>var route = new FMRoute();

route.before(function (vars, next, route) {
    App.access_count++;
    next();
});

route.get('/page-2/:id', function (vars, next) {
    App.current_page = 'page2';
    App.vars = vars;
    next();
});

route.after(function (vars, route) {
    console.dir('Rota executada: ' + route);
});

route.run();</pre>
                        </div>
                    </div>
                </div>

                <div v-if="current_page === 'error404'">
                    <h2 class="page-header">Página não encontrada</h2>

                    <div class="panel panel-default">
                        <div class="panel-heading">Variáveis</div>
                        <div class="panel-body">
                            <pre>{{ vars }}</pre>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Código</div>
                        <div class="panel-body">
                            <pre>var route = new FMRoute();

route.before(function (vars, next, route) {
    App.access_count++;
    next();
});

route.error('404', function (vars, next) {
    App.current_page = 'error404';
    App.vars = vars;
    next();
});

route.after(function (vars, route) {
    console.dir('Rota executada: ' + route);
});

route.run();</pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script src="./fmroute.js"></script>
    <script>
        var route = new FMRoute();

        route.get('/', function (vars, next) {
            App.current_page = 'homepage';
            App.vars = vars;
            next();
        });

        route.get('/page-1', function (vars, next) {
            App.current_page = 'page1';
            App.vars = vars;
            next();
        });

        route.get('/page-2/:id', function (vars, next) {
            App.current_page = 'page2';
            App.vars = vars;
            next();
        });

        route.error('404', function (vars, next) {
            App.current_page = 'error404';
            App.vars = vars;
            next();
        });

        route.before(function (vars, next, route) {
            App.access_count++;
            next();
        });

        route.after(function (vars, route) {
            console.dir('Rota executada: ' + route);
        });

        var App = new Vue({
            el: '#AppVue',
            data: {
                access_count: 0,
                current_page: 'teste',
                vars: {},
            },
            methods: {
                init: function () {
                    route.run();
                },
            },
        });

        App.init();
    </script>
</body>

</html>